In [4]:
import glob
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
import cv2
import numpy as np
import pickle
from skimage.feature import hog
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [5]:
df = pd.read_csv('/home/carnd/Vehicle-data/object-dataset/new_labels.csv',header=None,sep=" ")

In [8]:
df.columns

Int64Index([0], dtype='int64')

In [24]:
df.head()

                       img  xmin  ymin  xmax  ymax  occlusion       otype
0  1478019952686311006.jpg   950   574  1004   620          0         car
1  1478019952686311006.jpg  1748   482  1818   744          0  pedestrian
2  1478019953180167674.jpg   872   586   926   632          0         car
3  1478019953689774621.jpg   686   566   728   618          1       truck
4  1478019953689774621.jpg   716   578   764   622          0         car

In [6]:
df.columns=['img','xmin','ymin','xmax','ymax','occlusion','otype']

In [10]:
len(df)

75833

In [9]:
len(df[df.otype=='car'])

60788

In [8]:
len(df[(df.otype=='car')&( (df.ymax-df.ymin) >50) &((df.xmax-df.xmin)>50) &( df.occlusion==0)])

25239

In [12]:
def crop_image(img_path,xmin,xmax,ymin,ymax):
    img = cv2.imread('/home/carnd/Vehicle-data/object-dataset/'+img_path)
    cropped_image = img[ymin:ymax,xmin:xmax,:]
    cv2.imwrite('/home/carnd/Vehicle-data/cropped_images/'+img_path,cropped_image)
    return

In [13]:
df[(df.otype=='car')&( (df.ymax-df.ymin) >50) &((df.xmax-df.xmin)>50) &( df.occlusion==0)].apply(lambda x:crop_image(x['img'],x['xmin'],x['xmax'],x['ymin'],x['ymax']),axis=1)

21       None
24       None
27       None
30       None
34       None
55       None
58       None
60       None
62       None
68       None
73       None
75       None
81       None
87       None
91       None
92       None
94       None
95       None
97       None
98       None
102      None
106      None
110      None
113      None
116      None
118      None
119      None
121      None
122      None
125      None
         ...
75760    None
75769    None
75776    None
75777    None
75778    None
75783    None
75785    None
75786    None
75787    None
75790    None
75791    None
75793    None
75794    None
75795    None
75799    None
75800    None
75803    None
75804    None
75808    None
75809    None
75812    None
75813    None
75817    None
75818    None
75821    None
75822    None
75823    None
75825    None
75828    None
75832    None
dtype: object

### ignore below this line

In [31]:
t=cv2.imread('/home/carnd/Vehicle-data/cropped_images/'+'1478019952686311006.jpg')

In [32]:
t.shape

(46, 54, 3)

In [36]:
np.min(t)

8

In [2]:
t=cv2.imread('/home/carnd/Vehicle-data/vehicles/GTI_Far/image0120.png')

In [3]:
t.shape

(64, 64, 3)

In [39]:
np.max(t)

170

In [40]:
np.min(t)

29

In [3]:
from sklearn.utils import resample
import numpy as np
a=np.array([[1,2,3],[3,9,10]])
resample(a,n_samples=10)

array([[ 3,  9, 10],
       [ 1,  2,  3],
       [ 3,  9, 10],
       [ 1,  2,  3],
       [ 3,  9, 10],
       [ 1,  2,  3],
       [ 3,  9, 10],
       [ 1,  2,  3],
       [ 3,  9, 10],
       [ 1,  2,  3]])

In [1]:
from collections import deque
a=deque([],2)

In [2]:
a.appendleft(2)
a.appendleft(3)
a.appendleft(4)

In [3]:
a

deque([4, 3])