In [1]:
import glob
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
import cv2
import numpy as np
import pickle
from skimage.feature import hog
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [11]:
df = pd.read_csv('/home/carnd/Vehicle-data/object-dataset/new_labels.csv',header=None,sep=" ")

In [8]:
df.columns

Int64Index([0], dtype='int64')

In [24]:
df.head()

                       img  xmin  ymin  xmax  ymax  occlusion       otype
0  1478019952686311006.jpg   950   574  1004   620          0         car
1  1478019952686311006.jpg  1748   482  1818   744          0  pedestrian
2  1478019953180167674.jpg   872   586   926   632          0         car
3  1478019953689774621.jpg   686   566   728   618          1       truck
4  1478019953689774621.jpg   716   578   764   622          0         car

In [13]:
df.columns=['img','xmin','ymin','xmax','ymax','occlusion','otype']

In [14]:
df['otype'].unique()

array(['car', 'pedestrian', 'truck', 'biker'], dtype=object)

In [18]:
len(df[df.otype.map(lambda x:x in ['car','truck','biker'])])

65967

In [29]:
def crop_image(img_path,xmin,xmax,ymin,ymax):
    img = cv2.imread('/home/carnd/Vehicle-data/object-dataset/'+img_path)
    cropped_image = img[ymin:ymax,xmin:xmax,:]
    cv2.imwrite('/home/carnd/Vehicle-data/cropped_images/'+img_path,cropped_image)
    return

In [30]:
df[df.otype=='car'].apply(lambda x:crop_image(x['img'],x['xmin'],x['xmax'],x['ymin'],x['ymax']),axis=1)

0        None
2        None
4        None
5        None
6        None
7        None
9        None
10       None
11       None
12       None
14       None
15       None
16       None
18       None
19       None
20       None
21       None
23       None
24       None
26       None
27       None
29       None
30       None
32       None
33       None
34       None
36       None
37       None
38       None
39       None
         ...
75803    None
75804    None
75805    None
75806    None
75807    None
75808    None
75809    None
75810    None
75811    None
75812    None
75813    None
75814    None
75815    None
75816    None
75817    None
75818    None
75819    None
75820    None
75821    None
75822    None
75823    None
75824    None
75825    None
75826    None
75827    None
75828    None
75829    None
75830    None
75831    None
75832    None
dtype: object

In [31]:
t=cv2.imread('/home/carnd/Vehicle-data/cropped_images/'+'1478019952686311006.jpg')

In [32]:
t.shape

(46, 54, 3)

In [36]:
np.min(t)

8

In [2]:
t=cv2.imread('/home/carnd/Vehicle-data/vehicles/GTI_Far/image0120.png')

In [3]:
t.shape

(64, 64, 3)

In [39]:
np.max(t)

170

In [40]:
np.min(t)

29